<li>
    <p>
        <strong>
            Id:
        </strong>
        {{id}}
    </p>
    <p>
        <strong>
            Name:
        </strong>
        <mark> {{name}}</mark>
    </p>
    <p>
        <strong>Gender:</strong>
        {{gender}}
    </p>
    <p>
        <strong>Age:</strong>
        {{age}}
    </p>
</li>