<li>
    <p>
        <strong>
            Id:
        </strong>
        {{id}}
    </p>
    <p>
        <strong>
            Name:
        </strong>
        <mark> {{name}}</mark>
    </p>
    <p>
        <strong>
            Description:
        </strong>
        {{description}}
    </p>
</li>